:root {
  --color-bg: #e0ddcf;
  --color-text: #303030;
  --color-header: #829399;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--color-header);
  box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);
}

header > a {
  color: var(--color-text);
  font-family: monospace;
  font-size: 2em;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 0.75em;
}

footer a {
  color: var(--color-text);
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  header {
    height: 90px;
  }
  header > a {
    font-size: 3em;
    transition-duration: 0.3s;
  }
  header > a:hover {
    font-size: 3.15em;
  }
}
